@model DonatePoolModel

@{
    ViewData["Title"] = "Donate Pool";
}

<h2>Donate Pool</h2>

<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-action="DonatePool">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label>Ammount</label>
                <input asp-for="Ammount" class="form-control" />
                <span asp-validation-for="Ammount" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Donate" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>